---
---

@import "{{ site.theme }}";

#nav ul li a.active span:before {
  color: #cc3700;
}
.image {
  background: none !important;
}

img {
   max-width: 100%;
}

.button, input[type="button"], input[type="submit"] {
  background-color: #cc3700;
}

.button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: orange;
}
